body {
    background-color: #ffffff;
}

.sidebar {
    background-color: #ffffff;
    /* background-color: #f8f9fa; */
    border-right: 1px solid #e5e5e5;
    padding: 1rem 1rem;
    /* height: 100vh; */
    overflow-y: auto;
    top: 0;
    left: 0;
}


.content {
    background-color: black;
    padding: 2rem 2rem 4rem;
}

/* -------- desktop-only full-height -------- */
@media (min-width: 768px) {   /* ≥ md */
    .sidebar {
        min-height: 100vh;
    }
}

.profile-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
}

.tag {
    font-size: 0.75rem;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    display: inline-block;
}

:root{
    --main-color: #1e00ff;
    --main-color-light: #e0e5ff;
}

.work-tag{
    font-size: 0.75rem;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    display: inline-block;
    color: var(--main-color);
    background-color: var(--main-color-light);
}

.tag.active{
    color: var(--main-color);
    background-color: var(--main-color-light);
    transition: 0.1s;
    cursor: pointer;
}

.tag.inactive{
    color: #6c757d;
    background-color: #e9ecef;
    cursor: pointer;
}

.project-card img {
    height: 140px;
    object-fit: cover;
}
.project-card {
    transition: box-shadow .2s ease;
}
.project-card:hover {
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
}