body{
    margin: 0px;
    background-color: #2a2d2e;
    color:white;
    font-family: andale mono, monospace;
}

* {
    font-size: 16px;
}

#cmdLine{
    display: flex;
}

#precommandText{
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
}


#cmd{
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    flex-grow: 1;
    font-family: andale mono, monospace;
    background-color: #2a2d2e;
    color: white;
    caret-color: #13ff95;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#cmd:focus{
    border: 0px;
}

