$primary: #FF0F5B;
$primary-300: #fc91b3;
$success: #d117ff;
$dark-bg: #000000;
$light-bg-2: #fafafa;
$faded-black: #3f3f3f;


@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_slnt,wght.ttf);
  }
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
  }
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  }

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf);
  }

@media (max-width: 1200px) {
    #title-card{
        padding:0px !important;
        h1{
            font-size: 1em;
            padding: 0px;
        } 
    }
}

body{
    padding: 0;
    font-family: Inter;
}

.button-dark{
    color:white !important;
    background-color: $primary;
    border:solid 1px $primary !important;
    &:hover{
        color:white !important;
        background-color: $primary !important;
        border:solid 1px $primary !important;
        box-shadow: $primary-300 0px 0px 0px 5px !important;
    }
    &:focus{
        color:white !important;
        background-color: $primary !important;
        border:solid 1px $primary !important;
        box-shadow: $primary-300 0px 0px 0px 5px !important;
    }
}

.button-light{
    color:$primary !important;
    background-color: white;
    border:solid 1px $primary !important;
    &:hover{
        color:white !important;
        background-color: $primary !important;
        border:solid 1px $primary !important;
        box-shadow: $primary-300 0px 0px 0px 5px !important;
    }
    &:focus{
        color:white !important;
        background-color: $primary !important;
        border:solid 1px $primary !important;
        box-shadow: $primary-300 0px 0px 0px 5px !important;
    }
}

.navbar{
    background-color: white !important;
    button{
        @extend .button-dark
    }
}


.dropdown-item:active{
    background-color: $primary !important;
}

.row-sm-4 > h3{
    font-weight: bold;
    color: $primary;
}

.pseudolink{
    color: $primary;
    &:hover{
        cursor:pointer;
    }
}

#index-intro{
    background-color: white;
    color:black;
    #intro-space-text
    {
        .col-md{
            text-align: justify;
            h3{
                text-align: left;
                font-weight: 600;
                font-size: 1.7em;
                color:#FF0F5B;
            }
            p{
                color:$faded-black;
            }
        }
    }
    #title-card{
        h1{
            font-weight: bold;
            text-align: center;
            font-size: 4em;
            padding-right: 2em;
            padding-left: 2em;
            u{
                text-decoration-color: $primary;
            }
        }
    }
}

#call-to-action{
    text-align: center;
    button{
        @extend .button-dark
    }
    .fade-button{
        @extend .button-light
    }
}

#home-block-2{
    background-color: $light-bg-2;
    #short-about{
        .col-8{
            margin:auto;
            text-align: left !important;
            p{
                font-size: 1.2em;
            }
        }
    }
}


#home-block-3{
    background-color: white;
}

footer{
    background-color: #000000;
    color:white;
    a{
        color: white;
        text-decoration: underline;
        &:hover{
            color: $primary;
        }
    }
    #outLinks{
        text-align: center;
        a{
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
        font-size: 2em;
    }
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.card{
    transition: 0.3s;
    div.d-flex{
        h3{
            transition: 0.3s;
            visibility: hidden; 
            color: transparent;
            font-size: 1.5em;
        }
    }
}

.card:hover{
    div.d-flex{
        h3{
            visibility: visible;
            color: white;
        }
        background-color: rgba(0, 0, 0, .75);
    }
}

.bi.me-2{
    filter:  brightness(0) invert(1);
}