:root {
    --primary: #FF0F5B !important;
    --primary-300: #fc005061 !important;
    --success: #d117ff !important;
}
@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt,wght.ttf);
  }
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
  }
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
  }

body{
    padding: 0;
    font-family: Inter;
}

.navbar{
    background-color: white !important;
    font-weight: bold;
}

button{
    color:var(--primary) !important;
    border:solid 1px var(--primary) !important;
}

button:hover{
    color:white !important;
    background-color: var(--primary) !important;
    border:solid 1px var(--primary) !important;
}

button:focus{
    color:white !important;
    background-color: var(--primary) !important;
    border:solid 1px var(--primary) !important;
    box-shadow: var(--primary-300) 0px 0px 0px 5px !important;
}

.dropdown-item:active{
    background-color: var(--primary) !important;
}

h1{
    font-family: Roboto;
}

.row-sm-4 > h3{
    font-weight: bold;
    color: var(--primary);
}

.pseudolink{
    color:var(--primary);
}
.pseudolink:hover{
    cursor:pointer;
}

.container-xxl{
    background-color: black !important;
}

#introduction .row-sm-4{
    text-align: justify;
}